---
name: Changelog formatter
on:
  push:

jobs:
  changelog:
    runs-on: ubuntu-20.04
    name: Formatter 
    steps:
    - uses: rsmartins78/changelog-to-slack-formatter@improving-slack-message
      id: changelog
      with:
        changeLogInput: |
          PROJ-2684 Set info log level for Inventory Service. (#2151)
          PROJ-NONE add BadgeBase component (#2150)
          PROJ-NONE Extend FieldsControllerInput.tsx with AutoDropdown (#2134)
          PROJ-2684, PROJ-1231 Fix stuck transaction polling jobs. (#2143) (#2133)
          PROJ-NONE Updating Datadog Java Agent Version (#2148)
          PROJ-NONE Fixing environment validation on tf-deploy (#2147)
          PROJ-NONE Applying podAntiAffinity on envoy-linkerd
          PROJ-2178 add tooltip and fix dropdown bug (#2122)
          PROJ-2645 create trades review page (#2102)
          PROJ-2674 Sending changelog between versions to slack (#2144)
        jiraTicketPattern: 'PROJ-\d+'
        jiraURL: 'https://jira.company.com'
        slackBotToken: ${{ secrets.SLACK_BOT_TOKEN }}
        slackChannel: ${{ secrets.SLACK_CHANNEL }}
        oldVersion: "1.1.0"
        newVersion: "1.3.2"
